body {
  background-color: #808080;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 15px;
}

.location:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}

.location, .content {
  box-sizing: border-box;
  float: left;
  width: 90%;
  padding: 1%;
  margin: 0 auto;
  height: 4em;
}

.location {
  border-bottom: solid 1px #000;
  background-color: lightgray;
}

.container {
  margin: 0 auto;
  width: 30%;
}

nav {
  box-sizing: border-box;
  margin: 0%;
  float: left;
  padding-top: 1%;
  position: relative;
  width: 90%;
  background-color: #000;
}

.restaurant-list {
  padding-top: 0%;
  width: 100%;
}

.arrow {
  float: right;
  width: 10%;
  padding-top: 1em;
}

.arrow-left {
  padding-bottom: 3%;
  padding-top: 2.5%;
  padding-left: 3%;
}

h1 {
  font-weight: bold;
}
